// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-font-size: 16px;
    --mob-font-size: 14px;
    --heading-font-size: 16px;
    --color-white: #ffffff;
    --color-black: #000000;
    --sidebar-size: 200px;
    --primary-color: #ea4343;
    --background-grey: #3c3c3c;
    --card-bg-grey: #333232;
    --text-color-grey: #b6b2bf;
    --input-bg-grey: #4d4c4c;

    --font-family: "Space Grotesk", sans-serif;;
    // --font-family: "Josefin Sans", sans-serif;
}

*{
    box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body {
    font-family: var(--font-family);
    
}

p {
    margin: 0px;
    padding: 0px;
    color: var(--text-color-grey);
    margin-bottom: 12px;
    line-height: 1.7;
    font-size: var(--primary-font-size);
}

h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-block: 16px;
    color: var(--color-white);

    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: var(--primary-color);
        left: 0;
        bottom: 0;
    }
}

.margin-block-30 {
    margin-block: 30px;
}

.spacer {
    padding-block: 10px;
    margin: 0px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    h5{
        margin: 0px;
        font-size: 16px;
        color: #040b14;
    }

    h5, input, textarea{
        margin-bottom: 8px;
    }

    
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w-100{
    width: 100% !important;
}

input, textarea{
    border: 1px solid var(--card-bg-grey);
    border-radius: 8px;
    padding: 16px 24px;
    background: var(--input-bg-grey);
    width: 100%;
    margin-bottom: 16px;
    color: var(--color-white);
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s all;
    font-size: 16px;
    font-family: var(--font-family);
}

.btn-primary{
    background: var(--primary-color);
    color: var(--color-white);
    border: 1px solid var(--primary-color);
    &:hover{
        background: transparent;
    }
}

.btn-secondary{
    background: var(--color-white);
    color: #448C74;
    border: 1px solid #448C74;
    &:hover{
        background: #448C74;
        color: var(--color-white);
    }
}

.btn-link{
    background: transparent;
    border: none;
    padding: 12px 20px;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: 0.2s all;
    width: 100%;
    text-align: center;

    &:hover{
        background: var(--primary-color);
        color: var(--color-white);
    }
}

.btn-primary-link{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 12px 20px;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: 0.2s all;
    width: 100%;
    text-align: center;

    &:hover{
        background: transparent;
        color: var(--color-white);
    }
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  form{
    display: flex;
    align-items: center;
  }

  select{
    border-radius: 0px;
    border: 1px solid #bbccc6;
    width: 200px;
    padding: 6px 12px;
    font-size: 12px;
    margin-right: 12px;

    &:focus-visible{
        border: 1px solid #448C74 !important;
    }
  }

  .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;

    .menu-item{
        background: transparent;
        border: none;
        padding: 12px 20px;
        color: var(--primary-color);
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 6px;
        transition: 0.2s all;
        width: 100%;
        text-align: center;

        &:hover{
            background: var(--primary-color);
            color: var(--color-white);
        }
    }

    .active{
        background: var(--primary-color);
        color: var(--color-white);
    }
  }


.main-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--background-grey);

    .sidebar {
        padding: 16px;
        background: var(--card-bg-grey);
        min-width: var(--sidebar-size);
        height: 100vh;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;

        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            button{
                width: 100%;
            }
        }

        p {
            color: var(--color-white);
        }

        .thumbnail {
            width: 100px;
            height: 100px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        h2 {
            font-size: var(--heading-font-size);
            color: var(--color-white);

            &:after {
                display: none;
            }
        }
    }

    .main-content-area {
        width: calc(100% - var(--sidebar-size));
        margin-left: var(--sidebar-size);
        height: 100vh;
        overflow: auto;
        padding: 16px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
            padding-bottom: 8px;
        }

        .hero-section {
            width: 100%;
            height: 100%;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .name{
                background: var(--input-bg-grey);
                padding: 8px;
                border-radius: 8px;
                font-size: 16px;
                display: inline-flex;
                margin-bottom: 8px;

                &::after{
                    display: none;
                }
            }

            p.designation{
                font-size: 60px;
                line-height: 64px;
                margin: 0px;
                font-weight: 700;

                span{
                    color: var(--primary-color);
                }
            }

            p.description{
                font-size: 24px;
                color: var(--text-color-grey);
                margin-top: 16px;
                max-width: 750px;
            }

            h2,
            h5 {
                color: var(--color-white);
                margin: 0px;
            }

            h2 {
                font-size: 64px;
            }

            h5 {
                font-size: 24px;
            }
        }

        .about-section {
            height: 100vh;
            display: flex;
            align-items: center;

            .about-copy{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;

                .left, .right{
                    flex-basis: 48%;
                }

                h5{
                    font-size: 24px;
                    color: var(--color-white);
                    line-height: 110%;
                    margin-top: 0px;
                }

                .right{
                    p{
                        span{
                            color: var(--color-white);
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .experiences-section{
            height: 100vh;
            display: flex;
            align-items: flex-start;
            padding-bottom: 60px;

        }

        .login-section{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .content-area{
                background: var(--card-bg-grey);
                padding: 16px;
                border-radius: 8px;
            }
            h2{
                color: var(--color-white);
                margin: 0px;
                font-size: 30px;

                &::after{
                    display: none;
                }
            }
        }

        .skillset-section {
            height: 100vh;
            display: flex;
            align-items: center;
            .skills-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                .skills-item {
                    background: var(--card-bg-grey);
                    border: 1px solid var(--background-grey);
                    color: var(--color-white);
                    font-size: 14px;
                    // border: none;
                    border-radius: 10px;
                    // height: 26px;
                    padding: 22px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 16px;
                    margin-bottom: 16px;
                    position: relative;
                    transition: 0.4s all;
                    

                    &:hover{
                        background: var(--primary-color);
                        // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                        box-shadow: 0px 0px 5px var(--primary-color);
                        border: 1px solid var(--primary-color);
                        // scale: 1.08;
                        transform: translateY(-5px);
                    }

                    .remove-btn{
                        position: absolute;
                        color: var(--color-white);
                        background: rgb(247, 67, 67);
                        padding: 4px;
                        font-size: 8px;
                        border-radius: 50%;
                        top: -4px;
                        right: -3px;
                        line-height: 50%;
                        cursor: pointer;
                    }
                }
            }
        }

        .experience-wrapper{
            background: var(--card-bg-grey);
            padding: 12px;
            border-radius: 10px;
            margin-bottom: 12px;
            border: 1px solid var(--background-grey);
            transition: 0.5s all;

            .job-title{
                margin: 0px;
                font-size: 16px;
                margin-bottom: 12px;
                color: var(--color-white);
            }
            .environment{
                margin-bottom: 0px;
            }

            &:hover{
                background: var(--background-grey);
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                // box-shadow: 0px 0px 5px var(--primary-color);
                border: 1px solid var(--background-grey);
                // scale: 1.08;
                transform: translateY(-3px);
            }
        }
    }


}

.cursor-pointer{
    cursor: pointer;
}

.mob-menu{
    display: none;
}


@media screen and (max-width: 768px) {

    .hide-on-mob{
        display: none !important;
    }

    .w-auto{
        width: auto !important;
    }

    h2{
        font-size: 20px;

        &::after{
            width: 25px;
        }
    }

    p{
        font-size: var(--mob-font-size);
    }

    .main-wrapper{
        flex-direction: column;
        overflow: hidden;

        .sidebar{
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            z-index: 1000;

            &.open {
                transform: translateX(0);
            }
        }

        .mob-menu{
            position: fixed;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 8px 16px;
            background: var(--card-bg-grey);


            .thumbnail{
                width: auto;
                height: auto;

                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
          
            @media (min-width: 768px) {
              display: none;
            }
          }

        .main-content-area{
            margin: 0px;
            width: 100%;
            padding-top: 60px;

            .about-section{
                height: auto;
                .about-copy{
                    justify-content: flex-start;
                    flex-direction: column;

                    .left, .right{
                        flex-basis: 100%;
                    }
                }
            }
            
            .skillset-section{
                height: auto;

                .skills-wrapper{
                    .skills-item{
                        padding: 12px 20px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}