@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-font-size: 14px;
    --heading-font-size: 16px;

    --color-white: #ffffff;
    --color-black: #000000;

    --sidebar-size: 200px
}

*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    margin: 0px;
    padding: 0px;
    color: #272829;
    margin-bottom: 12px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-block: 16px;

    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: #149ddd;
        left: 0;
        bottom: 0;
    }
}

.margin-block-30 {
    margin-block: 30px;
}

.spacer {
    padding-block: 10px;
    margin: 0px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    h5{
        margin: 0px;
        font-size: 16px;
        color: #040b14;
    }

    h5, input, textarea{
        margin-bottom: 8px;
    }

    
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input, textarea{
    border: 1px solid #040b14;
    border-radius: 2px;
    padding: 6px 8px;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-primary{
    background: #448C74;
    color: var(--color-white);
    border: 1px solid #448C74;
    &:hover{
        background: var(--color-white);
        color: #448C74;
    }
}

.btn-secondary{
    background: var(--color-white);
    color: #448C74;
    border: 1px solid #448C74;
    &:hover{
        background: #448C74;
        color: var(--color-white);
    }
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.main-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .sidebar {
        padding: 16px;
        background: #040b14;
        min-width: var(--sidebar-size);
        height: 100vh;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;

        p {
            color: var(--color-white);
        }

        .thumbnail {
            width: 100px;
            height: 100px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        h2 {
            font-size: var(--heading-font-size);
            color: var(--color-white);

            &:after {
                display: none;
            }
        }
    }

    .main-content-area {
        width: calc(100% - var(--sidebar-size));
        margin-left: var(--sidebar-size);
        overflow: hidden;
        padding: 16px;

        h2 {
            padding-bottom: 8px;
        }

        .hero-section {
            width: 100%;
            height: 100vh;
            padding: 12px;
            background-image: url('./assets/kashif-khan-front-end-developer.jpg');
            // background: url('./kashif-khan-front-end-developer.jpg');
            display: flex;
            align-items: center;
            justify-content: flex-start;


            h2,
            h5 {
                color: var(--color-white);
                margin: 0px;
            }

            h2 {
                font-size: 64px;
            }

            h5 {
                font-size: 24px;
            }
        }

        .about-section {}

        .skillset-section {
            .skills-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                .skills-item {
                    background: #149ddd;
                    color: var(--color-white);
                    font-size: 14px;
                    border: none;
                    border-radius: 10px;
                    height: 26px;
                    padding-inline: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 4px;
                    margin-bottom: 4px;
                    position: relative;

                    .remove-btn{
                        position: absolute;
                        color: var(--color-white);
                        background: rgb(247, 67, 67);
                        padding: 4px;
                        font-size: 8px;
                        border-radius: 50%;
                        top: -4px;
                        right: -3px;
                        line-height: 50%;
                        cursor: pointer;
                    }
                }
            }
        }

        .experience-wrapper{
            background: #f2f2f2;
            padding: 12px;
            border-radius: 10px;
            margin-bottom: 12px;

            .job-title{
                margin: 0px;
                font-size: 16px;
                margin-bottom: 12px;
            }
            .environment{
                margin-bottom: 0px;
            }
        }
    }


}



@media screen and (max-width: 768px) {

    .main-wrapper{
        flex-direction: column;
        overflow: hidden;
        .sidebar{
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            position: static;

            .thumbnail{
                width: auto;
                height: auto;

                img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .main-content-area{
            margin: 0px;
            width: 100%;
        }
    }
}